.chat {
    .messages {
      margin-bottom: 20px;
      .my-message {
        background-color: #ed9e59;
        color: white;
        text-align: right;
      }
  
      .other-message {
        background-color: #44174e;
        color: white;
      }
    }
  
    .input-container {
      display: flex;
      input {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
  
      button {
        padding: 10px;
        background-color: #ed9e59;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #a34054;
        }
      }
    }
  }
  